.container-history {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.9);
    padding: 25px;

    .img-close {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 120px;
        }

        .icon {
            font-size: 40px;
        }
    }

    .container-card-history {
        background-image: linear-gradient(165deg, #b68f78 0, #ac8675 10%, #9e7b71 20%, #8c6f6a 30%, #766260 40%, #5c5353 50%, #434545 60%, #2e3937 70%, #1d2f2b 80%, #10261f 90%, #062016 100%);
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: rgb(80, 80, 80) 1px solid;
        width: 400px;
        height: 90%;
        padding: 20px;
        border-radius: 10px;

        .container-progressBar {
            display: flex;
            gap: 2px;
            margin-bottom: 10px;
        }

        .container-img-title {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            p {
                color: #fff;
                font-weight: 600;
            }
        }

        .container-carrousel {
            width: 100%;
            height: 68vh;

            img {
                width: 100%;
                min-height: 300px;
                max-height: 430px;
            }
        }
    }
}





@media ((max-width: 1300px)) {
    .container-history {
        .container-card-history {
            .container-carrousel {
                position: relative;
                bottom: 40px;
                left: -0px;

                img {
                    max-height: 420px;
                }
            }
        }
    }
}

@media ((max-width: 766px)) {
    .container-history {
        .container-card-history {
            right: -80px;

            .container-carrousel {
                position: relative;
                left: -0px;
            }
        }
    }
}

@media ((max-width: 650px)) {
    .container-history {
        .img-close {
            img {
                display: none;
            }
        }

        .container-card-history {
            right: 0px;

            .container-carrousel {
                position: relative;
                left: -0px;
            }
        }
    }
}

@media ((max-width: 650px)) {
    .container-history {
        .img-close {
            img {
                display: none;
            }
        }

        .container-card-history {
            right: 0px;

        }
    }
}

@media ((max-width: 600px)) {
    .container-history {
        .img-close {
            .icon {
                font-size: 25px;
            } 
        }
    }
}

@media ((max-width: 535px)) {
    .container-history {
        .img-close {
            .icon {
                font-size: 25px;
                position: relative;
                left: 18px;
                bottom: 18px;
            } 
        }
    }
}

@media ((max-width: 500px)) {
    .container-history {
        .img-close {
            .icon {
                font-size: 25px;
                position: relative;
                left: 18px;
                bottom: 18px;
                z-index: 500;
            } 
        }

        .container-card-history {
            padding-top: 40px;
            width: 100vw;
            height: 100vh;
            border-radius: 0px;
        }
    }
}