div {
    .div_language {
        width: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-language {
            width: 30px;
            height: 30px;
        }

        .p_language{
            font-size: 15px !important;
        }
    }
}

.icono-mode-dark{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.moon{
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 3px;
}

.sun{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
}

@media (max-width: 851px){
    div {
        .div_language {
            .img-language {
                width: 20px;
                height: 20px;
            }

            .p_language{
                font-size: 12px !important;
            }
        }
    }

    .icono-mode-dark{
        width: 18px;
        height: 18px;
        position: relative;
        left: 15px;
    }
}

@media (max-width: 488px){
    .icono-mode-dark{
        left: 0px;
    }
}